
    <button type="button" class="btn btn-primary" (click)="onClick(1)">Primary</button>
    <button type="button" class="btn btn-secondary" (click)="onClick(2)">Secondary</button>
    <button type="button" class="btn btn-success" (click)="onClick(3)">Success</button>
    <button type="button" class="btn btn-danger" (click)="onClick(4)">Danger</button>
    <button type="button" class="btn btn-warning" (click)="onClick(5)">Warning</button>
    <button type="button" class="btn btn-info" (click)="onClick(6)">Info</button>
    <button type="button" class="btn btn-light" (click)="onClick(7)">Light</button>
    <button type="button" class="btn btn-dark" (click)="onClick(8)">Dark</button>
    <button type="button" class="btn btn-link" (click)="onClick(9)">Link</button>
    <button type="button" class="btn btn-link" (click)="onClick('+')">Add</button>
    <button type="button" class="btn btn-link" (click)="onClick('-')">sub</button>
    <button type="button" class="btn btn-link" (click)="fncalc('=')">result</button>